# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
# Virtual env
.venv/
# Logs & runs
runs/
logs/
checkpoints/
# Jupyter
.ipynb_checkpoints/
# OS
.DS_Store
wandb/
*.egg-info/
*.pt
*.png
!benchmark_results_smoothed.png
*.csv
build/
.pytest_cache/
.ruff_cache/
videos/
